$color_1: #F1DAC4;
$color_2: #f7af6c;
$color_3: #35012C;
$font-family_1: 'Alegreya', serif;
$font-family_2: serif;
$background-color_1: #35012C;
$background-color_2: #4F0147;
$background-color_3: #d6c2d4;
$background-color_4: #F1DAC4;
$background-color_5: rgba(226, 43, 226, 0.422);
$background-color_6: #f1dac48b;

/* Paleta de Colores
#3A015C
#4F0147
#35012C
#290025
#11001C
 */
@import "https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,500&display=swap";

/* Reseteo */
/* Body/ Color de fondo */
/* Header */
/* Logo */
/* Barra de Inicio/ listas */
/* Buscador */
/* Banner */
/* Main */
/*
font-family: 'Alegreya', serif; */
/* Productos */
/* Título del párrafo */
/* Párrafo Principal */
/* parrafo dos */
/* Alteraciones del texto */
/* FOOTER */
/* TARJETAS DE CREDITO */
/* ACCESORIOS */
/* titulo de tabla */
/* tabla */
/* MI CUENTA */
/* CREAR CUENTA */
/* PRODUCTOS */
/* GRID CONTAINER */
/* KEYFRAMES */
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

/* Media Querys */
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: $background-color_1  !important;
}

.header {

    background-image: linear-gradient(to right, #3b015c8f, #af09bb, #3b015c8f);
    position: sticky;
    top: 0%;
    display: flex;
    align-items: center;

    img {
        width: 110px;
        padding: 10px;
    }

    form {
        padding: 8px;
    }
}

.navBar {
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            text-decoration: none;
            color: $color_1;
            margin: 10px;
            padding: 5px 10px;
            background-color: $background-color_2;

            &:hover {
                color: $color_2;
                font-weight: bold;
            }
        }
    }
}

.busqueda {
    background-color: $background-color_3;
    border-radius: 10%;
}

.banner {
    height: 236px;
    width: 100%;
}

main {
    min-height: 80vh;
}

h1 {
    text-align: center;
    color: $color_1;
    font-family: $font-family_1;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

h2 {
    border: 4px #F1DAC4 solid;
    color: $color_1;
    font-family: $font-family_1;
    text-align: center;
}

.parrafoUno {
    margin: 10px;
    padding: 10px;
    background-image: url("../img/fondo.jpg");
    background-size: contain;
    border: 1px black solid;
    line-height: 1.5;
    text-align: justify;
    color: $color_1;
    font-family: $font-family_1;
    font-size: 20px;
}

.parrafoDos {
    margin: 10px;
    padding: 10px;
    border: 1px black solid;
    background-color: $background-color_4;
    width: 800px;
    height: 70px;
    line-height: 1.5;
    text-align: justify;
    color: $color_3;
    font-family: $font-family_2;
    font-size: 20px;
    overflow: auto;
}

.italica {
    font-style: italic;
}

.negrita {
    font-weight: 600;
}

footer {
    ul {
        li {
            display: inline-block;
            padding: 7px;

            img {
                width: 50px;
                height: 50px;
                display: inline-flexbox;
                margin: 5px;
            }
        }
    }
}

.footer {
    display: inline-flex;
    margin-top: 15%;
    list-style: none;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, #3b015c8f, #af09bb, #3b015c8f);
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;

    p {
        font-size: 120%;
        color: $color_1;
    }
}

.textoTabla {
    margin-left: 25%;
    color: $color_1;
}

.tabla {
    margin-left: 25%;
    background-color: $background-color_5;

    th {
        color: $color_1;
    }

    td {
        color: $color_1;
    }
}

.formulario {
    background-color: $background-color_2;
    width: 185px;

    p {
        color: $color_1;

        &:hover {
            color: $color_2;
            font-weight: bold;
        }
    }

    a {
        color: $color_1;

        &:hover {
            color: $color_2;
            font-weight: bold;
        }
    }
}

.colorform {
    background-color: $background-color_6;
}

.tituloFormularioCuenta {
    border: 3px #F1DAC4 solid;
    width: 170px;
    color: $color_1;
}

.formularioCrearCuenta {
    background-color: $background-color_2;
    width: 270px;

    label {
        color: $color_1;
    }

    span {
        color: $color_1;
    }
}

.tituloFormularioCrear {
    border: 3px #4F0147 solid;
    width: 270px;
    color: $color_1;
}

.productos {
    img {
        margin: 27px;
        padding: 0px;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
}

@media (max-width: 873px) {
    .header {
        flex-direction: column;
    }

    .productos {
        grid-template-columns: repeat(2, 1fr);
    }

    .parrafoDos {
        width: auto;
    }
}

@media (max-width: 580px) {
    .productos {
        grid-template-columns: repeat(1, 1fr);
    }

    .navBar {
        ul {
            a {
                padding: 0%;
            }
        }
    }
}

.header {
    z-index: 999
}

.tarjetas li img {
    width: 80px;
    height: 55px;
}

.nav-link {
    background-color: #4F0147;
    color: #F1DAC4 !important;

}

.nav-link:hover {
    color: #f7af6c !important;

}

.nav-item {
    padding: 10px;
    color: #F1DAC4;
}

.btn {
    color: #F1DAC4 !important;
    border: #F1DAC4 !important;
    background-color: #4F0147 !important;
}

.btn:hover {
    background-color: #af09bb !important;
}

@media (max-width: 993px) {
    .nav-link {

        width: 100px;
    }
}