$color_1: #F1DAC4;
$color_2: #f7af6c;
$color_3: #35012C;
$font-family_1: 'Alegreya', serif;
$font-family_2: serif;
$background-color_1: #35012C;
$background-color_2: #4F0147;
$background-color_3: #d6c2d4;
$background-color_4: #F1DAC4;
$background-color_5: rgba(226, 43, 226, 0.422);
$background-color_6: #f1dac48b;