%estiloParrafoUno{
    margin: 10px;
    padding: 10px;
    background-color: #F1DAC4;
    background-size: contain;
    border: 1px black solid;
    line-height: 1.5;
    text-align: justify;
    color: #35012C;
    font-family: sans-serif;
    font-size: 20px;
}

%estiloParrafoDos{
    margin: 10px;
    padding: 10px;
    border: 1px black solid;
    width: 593px;
    height: 354px;
    line-height: 1.5;
    text-align: justify;
    font-family: sans-serif;
    font-size: 20px;
    overflow: auto;
}

//MIXIN

@mixin fontStyle ($colorFondo) {
    background-color: $colorFondo ;
    color: #35012C;
    text-transform: uppercase;
}