.formulario {
    margin-left: 34px;
    width: 185px;

    p {
        color: #F1DAC4;

        &:hover {
            color:#F1DAC4 ;
            font-weight: bold;
        }
    }

    a {
        color:#F1DAC4 ;

        &:hover {
            color:#F1DAC4 ;
            font-weight: bold;
        }
    }
}

.colorform {
    background-color: #F1DAC4;
}

.tituloFormularioCuenta {
    border: 3px #F1DAC4 solid;
    width: 170px;
    color:#F1DAC4;
    margin-left: 34px;
}

.formularioCrearCuenta {
   
    width: 270px;
    margin-left: 34px;
   

    label {
        color: #F1DAC4;
    }

    span {
        color: #F1DAC4;
    }
}
.botoncitos{
    background-color: #F1DAC4;
}

.tituloFormularioCrear {
    border: 3px #4F0147 solid;
    width: 270px;
    color: #F1DAC4;
    margin-left: 34px;
}